<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
        <meta charset="utf-8">

        <title></title>
    </head>
    <body>
        <div id="top" class="head_foot">
            <h2>Search for keywords on any website</h2>
        </div>
        {% block content %}{% endblock %}
        <div id="bottom"  class="head_foot">
        <p>Thank you for using our website</p>
        </div>
    </body>
</html>
