{% extends "layout.html" %}
{% block content %}



        <div class="result" >
        <h3>Searched website: </h3>
        <p>{{ param }}</p>
        <div class="scr_table">

            <table>
                <tr>
                    <th>Key word</th>
                    <td>Number of occurences</td>
                </tr>
                {% for key, value in dict_res.items() %}
                   <tr>
                        <th> {{ key }} </th>
                        <td> {{ value }} </td>
                   </tr>
                  {% endfor %}
            </table>
            <div id="home_btn">
            <form  action="{{ url_for('home') }}" method="get">
            <input type="submit" value="Go home">
            </form>
            </div>
        </div>

    </div>




{% endblock content %}
