html,body {
    height: auto;
    width: auto;
    font-family: sans-serif;
}


#top{
    font-size: 15px;
    padding: 20px;
    top: 0;
    position: relative;
}

#bottom{
    position: fixed;
    font-size: 10px;
    padding: 10px;
    bottom: 0;

}

#bar{
    width: 250px;
}

#home_btn{
    padding-top: 30px;
    padding-bottom: 70px;
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  }


.result{
    width: 40%;
    margin-left: 40%;
}

.scr_table{
    height: auto;
    overflow:auto;
    width: 100%;
}

.head_foot{
    background-color: #173F5F ;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    left: 0;
    right: 0;
    z-index: 1;
    }
